<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/MTA-Website/MTAWebsite/Script/jquery.devrama.slider.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/MTA-Website/MTAWebsite/Content/asset/css/mta.website.css">
    <link rel="stylesheet" type="text/css" href="/MTA-Website/MTAWebsite/Content/asset/css/slider.all.css">
    <script type="text/javascript" src="/MTA-Website/MTAWebsite/Script/mta.website.js"></script>
    <script type="text/javascript" src="/MTA-Website/MTAWebsite/Script/slider.all.js"></script>
    <link rel="stylesheet" href="/MTA-Website/MTAWebsite/Content/asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/MTA-Website/MTAWebsite/Content/asset/css/owl.theme.default.min.css">
    <script src="/MTA-Website/MTAWebsite/Script/owl.carousel.min.js"></script>
    <script src="/MTA-Website/MTAWebsite/Script/jquery.mousewheel.min.js"></script>

</head>
<body>
    <div class="container">
        <main>

            <section>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <figure>
                            <a href=""><img src="/MTA-Website/MTAWebsite/Content/asset/image/logo.png" class="img-responsive"></a>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="contact">
                                    <button id="btn-contact"><a href="/MTA-Website/MTAWebsite/Views/Contact/Contact.html">Liên Hệ</a></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="search">
                                    <input type="search" id="search" name="Search">
                                    <a href="#" id="tag-a-search" title="Tìm kiếm"><span class="glyphicon glyphicon-search"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>

            <section>
                <div class="topnav" id="myTopnav">
                    <a href="/MTA-Website/MTAWebsite/Views/Home/Home.html" class="active">Trang Chủ</a>
                    <a href="/MTA-Website/MTAWebsite/Views/About/About.html">Giới Thiệu</a>
                    <a href="/MTA-Website/MTAWebsite/Views/News/News.html">Tin Tức</a>
                    <a href="/MTA-Website/MTAWebsite/Views/Admission/Admission.html">Tuyển Sinh</a>
                    <a href="/MTA-Website/MTAWebsite/Views/Student/Student.html">Sinh Viên</a>
                    <a href="/MTA-Website/MTAWebsite/Views/Education/Education.html">Đào Tạo</a>
                    <a href="/MTA-Website/MTAWebsite/Views/Research/Research.html">Nghiên Cứu</a>
                    <a href="/MTA-Website/MTAWebsite/Views/Contract/Contract.html">Hợp Tác</a>
                    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
                </div>
            </section>

            <section>
                <div class="row">
                        <div class="col-lg-3 col-md-3">
                                <p> menu clapse đang hoàn thiện nốt</p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <h3 id="title-post">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, blanditiis.</h3>
                                </div>
                            </div>
                            <div class="row info-date-view">
                                <div class="col-lg-3 col-md-3">
                                    <span class="glyphicon glyphicon-calendar"><span id="date">30/04/2018<span></span>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <span class="glyphicon glyphicon-eye-open"><span id="view">2305<span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <p>nội dung bài viết ở đây </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 area-relative">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <h3>Có thể bạn quan tâm</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-6">
                                    <figure class="figure">
                                        <img src="/MTA-Website/MTAWebsite/Content/asset/image/small-image-3.png" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                                        <figcaption class="figure-caption">A caption for the above image.</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-6">
                                    <figure class="figure">
                                        <img src="/MTA-Website/MTAWebsite/Content/asset/image/small-image-5.png" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                                        <figcaption class="figure-caption">A caption for the above image.</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-6">
                                    <figure class="figure">
                                        <img src="/MTA-Website/MTAWebsite/Content/asset/image/small-image-6.png" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                                        <figcaption class="figure-caption">A caption for the above image.</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-6">
                                    <figure class="figure">
                                        <img src="/MTA-Website/MTAWebsite/Content/asset/image/small-image-7.png" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                                        <figcaption class="figure-caption">A caption for the above image.</figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                </div>
            </section>

            <section>
                <div class="row">
                    <div class="col-lg-8 col-md-8 area-same-category">
                        <h3>Cùng chuyên mục</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <ul class="same-category">
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, officia. Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, ratione? Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, praesentium? Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, odit. Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, illum. Lorem ipsum dolor sit amet.</a></li>
                        </ul>
                    </div>
                </div>

            </section>

        </main>
    </div>
</body>
</html>