<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chi tiết</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/MTA-Website/MTAWebsite/Script/jquery.devrama.slider.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/MTA-Website/MTAWebsite/Content/asset/css/mta.website.css">
    <link rel="stylesheet" type="text/css" href="/MTA-Website/MTAWebsite/Content/asset/css/slider.all.css">
    <script type="text/javascript" src="/MTA-Website/MTAWebsite/Script/mta.website.js"></script>
    <script type="text/javascript" src="/MTA-Website/MTAWebsite/Script/slider.all.js"></script>
    <link rel="stylesheet" href="/MTA-Website/MTAWebsite/Content/asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/MTA-Website/MTAWebsite/Content/asset/css/owl.theme.default.min.css">
    <script src="/MTA-Website/MTAWebsite/Script/owl.carousel.min.js"></script>
    <script src="/MTA-Website/MTAWebsite/Script/jquery.mousewheel.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <main>

            <section>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <figure>
                            <a href=""><img src="/MTA-Website/MTAWebsite/Content/asset/image/logo.png" class="img-responsive"></a>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="contact">
                                    <button id="btn-contact"><a href="/MTA-Website/MTAWebsite/Views/Contact/Contact.html">Liên Hệ</a></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="search">
                                    <input type="search" id="search" name="Search">
                                    <a href="#" id="tag-a-search" title="Tìm kiếm"><span class="glyphicon glyphicon-search"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>

            <section>
                <div class="topnav" id="myTopnav">
                    <a href="/MTA-Website/MTAWebsite/Views/Home/Home.html" class="active">Trang Chủ</a>
                    <a href="/MTA-Website/MTAWebsite/Views/About/About.html">Giới Thiệu</a>
                    <a href="/MTA-Website/MTAWebsite/Views/News/News.html">Tin Tức</a>
                    <a href="/MTA-Website/MTAWebsite/Views/Admission/Admission.html">Tuyển Sinh</a>
                    <a href="/MTA-Website/MTAWebsite/Views/Student/Student.html">Sinh Viên</a>
                    <a href="/MTA-Website/MTAWebsite/Views/Education/Education.html">Đào Tạo</a>
                    <a href="/MTA-Website/MTAWebsite/Views/Research/Research.html">Nghiên Cứu</a>
                    <a href="/MTA-Website/MTAWebsite/Views/Contract/Contract.html">Hợp Tác</a>
                    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
                </div>
            </section>

            <section>
                <div class="row">
                    <div class="col-lg-3 col-md-3 collapse width show" id="sidebar">

                        <p id="category-name">Nghiên Cứu</p>

                        <div class="list-group">

                            <a href="#menu1" class="list-group-item collapsed first-item" data-toggle="collapse" aria-expanded="false"><span>Menu 1</span> </a>
                            <!-- menu con -->
                            <div class="collapse" id="menu1" data-parent="#sidebar">
                                <a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false"><i class="fa fa-angle-right"></i>Con của Menu 1 - A</a>
                                <!-- menu cháu -->
                                <div class="collapse" id="menu1sub1" data-parent="#menu1">
                                    <a href="#" class="list-group-item" data-parent="#menu1sub1"><i class="fa fa-angle-double-right"></i>Con thứ nhất của A</a>
                                    <a href="#" class="list-group-item" data-parent="#menu1sub1"><i class="fa fa-angle-double-right"></i>Con thứ hai của A</a>
                                    <a href="#menu1sub1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false"><i class="fa fa-angle-double-right"></i>Con thứ ba của A</a>
                                    <!-- menu chắt-->
                                    <div class="collapse" id="menu1sub1sub1">
                                        <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Con của con thứ 3</a>
                                        <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Con của con thứ 3</a>
                                    </div>
                                    <!-- end-->
                                </div>
                                <!--end-->
                                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i>Con của Menu 1 - B</a>
                                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i>Con của Menu 1 - C</a>
                            </div>
                            <!--end-->

                            <a href="#" class="list-group-item"><span>Menu 2</span></a>

                            <a href="#" class="list-group-item"><span>Menu 3</span></a>


                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <h3 id="title-post">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, blanditiis.</h3>
                            </div>
                        </div>
                        <div class="row info-date-view">
                            <div class="col-lg-3 col-md-3">
                                <span class="glyphicon glyphicon-calendar"><span id="date">30/04/2018<span></span>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <span class="glyphicon glyphicon-eye-open"><span id="view">2305<span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <p>nội dung bài viết ở đây </p>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="row title-single">
                    <div class="col-lg-12 col-md-12">
                        <h2 class="title-single">Có thể bạn quan tâm</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <figure class="figure">
                            <img src="/MTA-Website/MTAWebsite/Content/asset/image/medium-image-9.jpg" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption">A caption for the above image.</figcaption>
                        </figure>
                        <header>
                            <p class="note">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aliquid nostrum ex perferendis laborum eius alias dolorum magni voluptatum et?</p>
                        </header>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <figure class="figure">
                            <img src="/MTA-Website/MTAWebsite/Content/asset/image/medium-image-8.jpg" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption">A caption for the above image.</figcaption>
                        </figure>
                        <header>
                            <p class="note">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aliquid nostrum ex perferendis laborum eius alias dolorum magni voluptatum et?</p>
                        </header>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <figure class="figure">
                            <img src="/MTA-Website/MTAWebsite/Content/asset/image/medium-image-9.jpg" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption">A caption for the above image.</figcaption>
                        </figure>
                        <header>
                            <p class="note">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aliquid nostrum ex perferendis laborum eius alias dolorum magni voluptatum et?</p>
                        </header>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <figure class="figure">
                            <img src="/MTA-Website/MTAWebsite/Content/asset/image/medium-image-8.jpg" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption">A caption for the above image.</figcaption>
                        </figure>
                        <header>
                            <p class="note">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aliquid nostrum ex perferendis laborum eius alias dolorum magni voluptatum et?</p>
                        </header>
                    </div>
                </div>
            </section>


            <section>
                <div class="row">
                    <div class="col-lg-8 col-md-8 area-same-category">
                        <h3>Cùng chuyên mục</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <ul class="same-category">
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, officia. Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, ratione? Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, praesentium? Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, odit. Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, illum. Lorem ipsum dolor sit amet.</a></li>
                        </ul>
                    </div>
                </div>

            </section>

        </main>
    </div>
</body>
</html>