<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tuyển sinh</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/MTA-Website/MTAWebsite/Script/jquery.devrama.slider.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/MTA-Website/MTAWebsite/Content/asset/css/mta.website.css">
    <link rel="stylesheet" type="text/css" href="/MTA-Website/MTAWebsite/Content/asset/css/slider.all.css">
    <script type="text/javascript" src="/MTA-Website/MTAWebsite/Script/mta.website.js"></script>
    <script type="text/javascript" src="/MTA-Website/MTAWebsite/Script/slider.all.js"></script>
    <link rel="stylesheet" href="/MTA-Website/MTAWebsite/Content/asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/MTA-Website/MTAWebsite/Content/asset/css/owl.theme.default.min.css">
    <script src="/MTA-Website/MTAWebsite/Script/owl.carousel.min.js"></script>
    <script src="/MTA-Website/MTAWebsite/Script/jquery.mousewheel.min.js"></script>

</head>
<body>
    <div class="container">
        <main>

            <section>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <figure>
                            <a href=""><img src="/MTA-Website/MTAWebsite/Content/asset/image/logo.png" class="img-responsive"></a>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="contact">
                                    <button id="btn-contact"><a href="/MTA-Website/MTAWebsite/Views/Contact/Contact.html">Liên Hệ</a></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="search">
                                    <input type="search" id="search" name="Search">
                                    <a href="#" id="tag-a-search" title="Tìm kiếm"><span class="glyphicon glyphicon-search"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>

            <section>
                <div class="topnav" id="myTopnav">
                    <a href="/MTA-Website/MTAWebsite/Views/Home/Home.html" class="active">Trang Chủ</a>
                    <a href="/MTA-Website/MTAWebsite/Views/About/About.html">Giới Thiệu</a>
                    <a href="/MTA-Website/MTAWebsite/Views/News/News.html">Tin Tức</a>
                    <a href="/MTA-Website/MTAWebsite/Views/Admission/Admission.html">Tuyển Sinh</a>
                    <a href="/MTA-Website/MTAWebsite/Views/Student/Student.html">Sinh Viên</a>
                    <a href="/MTA-Website/MTAWebsite/Views/Education/Education.html">Đào Tạo</a>
                    <a href="/MTA-Website/MTAWebsite/Views/Research/Research.html">Nghiên Cứu</a>
                    <a href="/MTA-Website/MTAWebsite/Views/Contract/Contract.html">Hợp Tác</a>

                    <!--<div class="dropdown">
                      <button class="dropbtn">Sinh Viên
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                      </div>
                    </div>  -->



                    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
                </div>
            </section>


            <section>
                <div class="example-using-css">
                    <img data-lazy-src="/MTA-Website/MTAWebsite/Content/asset/image/big-image-1.jpg" />
                    <img data-lazy-src="/MTA-Website/MTAWebsite/Content/asset/image/big-image-2.jpg" />
                </div>
            </section>

            <section>
                <div class="row">
                    <div class="col-lg-12 col-md-12 path">
                        <a>Trang Chủ</a><span> / </span><a>Tuyển Sinh</a>
                    </div>
                </div>
            </section>

            <section>
                <div class="row title-single">
                    <div class="col-lg-12 col-md-12">
                        <h2 class="title-single">Tin Tức</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <figure class="figure">
                            <img src="/MTA-Website/MTAWebsite/Content/asset/image/medium-image-10.jpg" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption-category">Hình ảnh, video tiêu biểu</figcaption>
                        </figure>
                        <header>
                            <p class="note-category">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo beatae sunt obcaecati, dolorum nisi, autem!</p>
                        </header>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <figure class="figure">
                            <img src="/MTA-Website/MTAWebsite/Content/asset/image/medium-image-10.jpg" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption-category">Hình ảnh, video tiêu biểu</figcaption>
                        </figure>
                        <header>
                            <p class="note-category">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo beatae sunt obcaecati, dolorum nisi, autem!</p>
                        </header>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <figure class="figure">
                            <img src="/MTA-Website/MTAWebsite/Content/asset/image/medium-image-10.jpg" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption-category">Hình ảnh, video tiêu biểu</figcaption>
                        </figure>
                        <header>
                            <p class="note-category">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo beatae sunt obcaecati, dolorum nisi, autem!</p>
                        </header>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <figure class="figure">
                            <img src="/MTA-Website/MTAWebsite/Content/asset/image/medium-image-10.jpg" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption-category">Hình ảnh, video tiêu biểu</figcaption>
                        </figure>
                        <header>
                            <p class="note-category">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo beatae sunt obcaecati, dolorum nisi, autem!</p>
                        </header>
                    </div>
                </div>
                <div class="row view-more-area">
                    <div class="col-lg-11 col-md-11 a-line">
                        <hr>
                    </div>
                    <div class="col-lg-1 col-md-1 view-more">
                        <a href="" class="view-more">Xem thêm<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </section>



            <section class="background-gray">
                <div class="row title-single">
                    <div class="col-lg-12 col-md-12">
                        <h2 class="title-single">Thông Báo</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <figure class="figure">
                            <img src="/MTA-Website/MTAWebsite/Content/asset/image/medium-image-10.jpg" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption-category">Hình ảnh, video tiêu biểu</figcaption>
                        </figure>
                        <header>
                            <p class="note-category">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo beatae sunt obcaecati, dolorum nisi, autem!</p>
                        </header>

                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul class="highlight-news">
                            <li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, cumque? </li>
                            <li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, magni.</li>
                            <li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, inventore!</li>
                            <li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque.</li>
                            <li class="last-new">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque.</li>
                        </ul>
                        <a href="" class="view-more-right">Xem thêm<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </section>

            <section>
                <div class="row title-single">
                    <div class="col-lg-12 col-md-12">
                        <h2 class="title-single">Các Hệ Tuyển Sinh</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <figure class="figure">
                            <img src="/MTA-Website/MTAWebsite/Content/asset/image/medium-image-10.jpg" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption-category">Đại học</figcaption>
                        </figure>
                        <header>
                            <p class="note-category">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo beatae sunt obcaecati, dolorum nisi, autem!</p>
                        </header>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <figure class="figure">
                            <img src="/MTA-Website/MTAWebsite/Content/asset/image/medium-image-10.jpg" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption-category">Sau đại học</figcaption>
                        </figure>
                        <header>
                            <p class="note-category">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo beatae sunt obcaecati, dolorum nisi, autem!</p>
                        </header>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <figure class="figure">
                            <img src="/MTA-Website/MTAWebsite/Content/asset/image/medium-image-10.jpg" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption-category">Liên thông</figcaption>
                        </figure>
                        <header>
                            <p class="note-category">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo beatae sunt obcaecati, dolorum nisi, autem!</p>
                        </header>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <figure class="figure">
                            <img src="medium-image-10.jpg" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption-category">Bổ túc, bồi dưỡng</figcaption>
                        </figure>
                        <header>
                            <p class="note-category">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo beatae sunt obcaecati, dolorum nisi, autem!</p>
                        </header>
                    </div>
                </div>
                <div class="row view-more-area">
                    <div class="col-lg-11 col-md-11 a-line">
                        <hr>
                    </div>
                    <div class="col-lg-1 col-md-1 view-more">
                        <a href="" class="view-more">Xem thêm<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </section>

            <section class="background-gray">
                <div class="row title-single">
                    <div class="col-lg-12 col-md-12">
                        <h2 class="title-single">Câu Hỏi Thường Gặp</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <figure class="figure">
                            <img src="/MTA-Website/MTAWebsite/Content/asset/image/medium-image-10.jpg" class="img-responsive figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption-category">Hình ảnh, video tiêu biểu</figcaption>
                        </figure>
                        <header>
                            <p class="note-category">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo beatae sunt obcaecati, dolorum nisi, autem!</p>
                        </header>

                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul class="highlight-news">
                            <li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, cumque? </li>
                            <li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, magni.</li>
                            <li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, inventore!</li>
                            <li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque.</li>
                            <li class="last-new">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque.</li>
                        </ul>
                        <a href="" class="view-more-right">Xem thêm<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>